.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: black;
}

.mensagem_logado {
  margin-bottom: 20px;
}

.botao-sair {
  background-color: orange;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0px;
}

.botoes {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  
}

.post-list {
  list-style: none;
  padding: 0px;
}

.post-item {
  background-color: #f4f0f0;
  padding: 15px;
  margin: 10px 0px;
}

#botao-deletar {
  margin-top: 10px;
  background-color: red;
}
